@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  /* font-weight: normal; */
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/* 公共样式 */
.cs-pop-title {
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.cs-tip {
  display: inline-block;
  padding: 6px 12px;
  background: rgb(196, 235, 249);
  font-size: 12px;
}
.cs-button {
  position: relative;
  margin: 8px 0;
  padding: 0;
  vertical-align: top;
  border: none;
  background: transparent;
  outline-offset: 4px;
  transition: filter 250ms;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(to left,
      #666 0%,
      #888 8%,
      #888 92%,
      #666 100%);
  }
  .front {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background: #ddd;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    .cs-icon {
      width: 14px;
      height: 14px;
    }
  }
  &.primary {
    .edge {
      background: linear-gradient(to left,
        #505977 0%,
        #6a769e 8%,
        #6a769e 92%,
        #505977 100%);
    }
    .front {
      background: #aabeff;
    }
  }
  &.danger {
    .edge {
      background: linear-gradient(to left,
        #52001b 0%,
        #a30036 8%,
        #a30036 92%,
        #52001b 100%);
    }
    .front {
      color: #fff;
      background: #f0003c;
    }
  }
  &:hover {
    filter: brightness(105%);
  }
  &:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }
  &:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  &:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }
  &:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
}
.cs-button-group {
  display: inline-block;
  position: relative;
  margin: 8px 0;
  padding: 0;
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }

  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(to left,
      #666 0%,
      #888 8%,
      #888 92%,
      #666 100%);
  }
  button {
    padding: 8px 8px;
    border-radius: 4px;
    border: none;
    // background: transparent;
    color: #333;
    background: #ddd;
    font-size: 14px;
    outline-offset: 4px;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    &:hover {
      filter: brightness(105%);
      transform: translateY(-6px);
      transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }
    &:active {
      transform: translateY(-2px);
      transition: transform 34ms;
    }
  }
  &:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }
  &:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
}
.cs-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // margin-top: 0.5rem;
  input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  input[type="radio"]:checked+span {
    z-index: 1;
    color: #0043ed;
    background-color: #dee7ff;
    box-shadow: 0 0 0 0.0625em #0043ed;
  }
  label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
  }
  label:first-child span {
    border-radius: .375em 0 0 .375em;
  }
  label:last-child span {
    border-radius: 0 .375em .375em 0;
  }
}
.cs-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}
.cs-checkbox,
.cs-checkbox *,
.cs-checkbox *::before,
.cs-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cs-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}
.cs-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}
.cs-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}
.cs-checkbox:hover {
  border-color: var(--primary-color);
}
.cs-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}
.cs-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.cs-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
.cs-input {
  // width: 100%;
  // max-width: 220px;
  height: 42px;
  padding: 12px;
  border-radius: 8px;
  border: 1.5px solid lightgrey;
  font-size: 16px;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  &:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  &:active {
    transform: scale(0.98);
  }
  &:focus {
    border: 2px solid #aabeff;
  }
}
.cs-icon {
  width: 20px;
  height: 20px;
}
